:host{
  display: block;
  width: 400px;
}

li{
  cursor: pointer;
  padding: 6px 12px;
  background-color: rgba(255, 255, 255, 0.54);
  &:hover{
    background-color: white;
  }
}
button{
  width: 100%;
  padding: 6px 12px;
}
